<!DOCTYPE html>
<html lang="en">
<head>

<title>AirMinder</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/category.css') }}">
    
</head>

<body>
    <div class="card">
    <h1 style="text-align: center; font-size: 3rem">AQI Level</h1>
    <div class="aqiimg">
        <img src="../static/assets/img/img/BAIK.png" alt="img" style="display: block; margin: 0 auto; max-width: 80%; height: auto;">
    </div>

    <div>
        <h2 style="text-align: justify; margin: 0 auto;">AQI (Air Quality Index) Level Baik menggambarkan kondisi udara yang bersih dan berkualitas tinggi. Pada tingkat ini, kualitas udara Kategori ini tidak memiliki implikasi kesehatan. Semua orang dapat melanjutkan aktivitas outdoor mereka secara normal. Beberapa karakteristik yang mungkin terkait dengan AQI Level Baik adalah:

            Sebagai penyaringan udara alami, udara di tingkat ini cenderung bebas dari polutan berbahaya dan partikel berukuran besar. Ini dapat menghasilkan udara yang segar dan bersih untuk dihirup.
            
            Kualitas udara yang aman. AQI Level Baik menunjukkan bahwa tidak ada ancaman signifikan terhadap kesehatan manusia akibat polusi udara. Ini berarti bahwa risiko terhadap penyakit pernapasan dan masalah kesehatan lainnya yang terkait dengan kualitas udara rendah biasanya minimal pada tingkat ini. </h2>
    </div>
    </div>
</body>
</html>
