<!DOCTYPE html>
<html lang="en">
<head>
    <title>AirMinder</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/category.css') }}">
    <title>AQI Categories</title>
</head>
<body>
    <div ="container">
        <h1 style="text-align: center; font-size: 3rem; font-weight: bolder">AQI Level</h1>
        <div class="aqiimg">
            <img src="../static/assets/img/img/SANGAT TIDAK SEHAT.png" alt="img" style="display: block; margin: 0 auto; max-width: 80%; height: auto;">
        </div>
        <div>
            <h2 style="text-align: justify;">AQI Level Sangat Tidak Sehat menunjukkan kondisi udara yang sangat buruk dan dapat menyebabkan risiko serius terhadap kesehatan. Beberapa ciri-ciri terkait AQI Level Sangat Tidak Sehat meliputi:
                Ancaman serius terhadap kesehatan: Pada tingkat ini, polusi udara mencapai tingkat yang sangat tinggi dan dapat menyebabkan dampak serius pada kesehatan. Gejala pernapasan yang parah, seperti sesak napas, batuk, dan nyeri dada, dapat terjadi bahkan pada individu yang sehat secara umum.
                
                Kualitas udara yang sangat buruk: Udara pada AQI Level Sangat Tidak Sehat dapat terasa sangat tercemar, dengan partikel-partikel polutan yang sangat tinggi dan visibilitas yang sangat rendah. Udara mungkin terasa berat dan berbau tidak sedap.
                
                Disarankan untuk menghindari aktivitas luar ruangan: Pada tingkat ini, disarankan untuk menghindari aktivitas luar ruangan sebisa mungkin. Paparan terhadap udara yang sangat buruk dapat menyebabkan kerusakan parah pada sistem pernapasan dan kesehatan secara keseluruhan. Pemakaian masker pelindung yang efektif dapat dianjurkan untuk melindungi diri Anda. </h2>
        </div>
    </div>
</body>
</html>
