<!DOCTYPE html>
<html lang="en">
<head>
    <title>AirMinder</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/category.css') }}">
    <title>AQI Categories</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 3rem; font-weight: bolder">AQI Level</h1>
    <div class="aqiimg">
        <img src="../static/assets/img/img/SEDANG.png" alt="img" style="display: block; margin: 0 auto; max-width: 80%; height: auto;">
    </div>
    <div>
        <h2 style="text-align: justify;">AQI Level Sedang mengindikasikan adanya sedikit penurunan kualitas udara dari tingkat yang baik. Beberapa ciri-ciri terkait AQI Level Sedang meliputi:
            Peningkatan polusi udara pada tingkat ini dapat menyebabkan penurunan jarak pandang. Partikel-partikel polutan dapat membuat udara terlihat keruh atau kabur.
            
            Dampak terbatas pada kesehatan: Pada tingkat ini, polusi udara mungkin tidak mengakibatkan efek kesehatan yang signifikan pada individu yang sehat secara umum. Namun, individu yang sensitif atau memiliki kondisi pernapasan yang mendasar seperti asma atau penyakit paru-paru mungkin mengalami sedikit ketidaknyamanan.
            
            Disarankan untuk tetap waspada, meskipun AQI Level Sedang tidak dianggap sebagai ancaman kesehatan yang serius, tetap penting untuk tetap waspada terhadap perubahan kondisi udara. Individu yang sensitif atau rentan mungkin perlu mengambil tindakan pencegahan tambahan, seperti mengurangi aktivitas luar ruangan yang intens. </h2>
    </div>
</body>
</html>
