<!DOCTYPE html>
<html lang="en">
<head>\
    <title>AirMinder</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/category.css') }}">
    <title>AQI Categories</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 3rem; font-weight: bolder">AQI Level</h1>
    <div class="aqiimg">
        <img src="../static/assets/img/img/TIDAK SEHAT.png" alt="img" style="display: block; margin: 0 auto; max-width: 80%; height: auto;">
    </div>
    <div>
        <h2 style="text-align: justify;">AQI Level Tidak Sehat mengindikasikan adanya peningkatan polusi udara yang signifikan dan dapat berdampak negatif pada kesehatan. Beberapa ciri-ciri terkait AQI Level Tidak Sehat meliputi:
            Dampak buruk pada kesehatan: Peningkatan polusi udara pada tingkat ini dapat menyebabkan masalah pernapasan dan mempengaruhi kesehatan secara umum. Individu yang sensitif atau memiliki masalah pernapasan yang mendasar, seperti penyakit paru-paru atau jantung, mungkin mengalami gejala yang lebih buruk pada tingkat ini. Bahkan individu yang sehat juga dapat merasakan ketidaknyamanan seperti iritasi mata, hidung, dan tenggorokan.
            
            Kualitas udara yang buruk: Udara pada AQI Level Tidak Sehat biasanya terasa kotor dan tidak nyaman untuk dihirup. Partikel-partikel polutan dapat mengambang dalam jumlah yang lebih tinggi, dan visibilitas dapat menurun lebih lanjut.
            
            Disarankan untuk mengurangi aktivitas luar ruangan: Pada tingkat ini, disarankan untuk mengurangi aktivitas luar ruangan, terutama bagi individu yang sensitif atau rentan terhadap polusi udara. Membatasi paparan terhadap udara luar dan mengambil tindakan pencegahan lainnya, seperti menggunakan masker pelindung, dapat membantu melindungi kesehatan Anda. </h2>
    </div>
</body>
</html>
